/* CSS MODULES */
@import "base.css";
@import "layout.css";
@import "modules/box.css";
@import "modules/header.css";
@import "modules/shop.css";
@import "modules/teaser.css";
@import "modules/states.css";
@import "modules/strip.css";
@import "modules/carousel.css";


/* FONTS */
@font-face {
	font-family: 'Action Man';
	src: url(../fonts/action_man-webfont.woff);
}

.overlay-advert {
	display: none;
}

@media screen and (max-width: 1000px){
	body {
		overflow: hidden;
		overflow-y: hidden;
	}

	.overlay-advert{
		display: block;
		color: #FFE300;
		background: #171717;
		font-family: var(--comic-font);
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: 1000;
		overflow: hidden;
		text-align: center;
	}
}
